@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
  background-color: #232427;
}

.btn {
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.5);
  background-color: #232427;
  border-radius: 2rem;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  margin: 1rem;
  outline: none;
}

/* Entry Page */

.entry {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.entry-content {
  height: 40rem;
  width: 60rem;
  border-radius: 1rem;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.entry-header {
  background: #2a2b2f;
  margin: 2rem;
  width: 50%;
  padding: 1.5rem 0;
  border: 2px solid #1e1f23;
  border-radius: 1rem;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.entry-header h1 {
  font-weight: bold;
  font-size: 3rem;
}

.slogan {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.7rem;
}

.entry form {
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  width: 50%;
  margin: 2rem;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.entry form label {
  color: rgba(255, 255, 255, 0.5);
  padding: 0.3rem 0;
}

.entry form button {
  width: 8rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
  background: #2a2b2f;
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid #1e1f23;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.entry form p {
  color: rgba(255, 255, 255, 0.5);
}

.entry form p span {
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: underline;
}

/* home page */

.home-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  color: rgba(255, 255, 255, 0.5);
  height: 10vh;
}

.home-nav h3 {
  font-size: 2rem;
  margin: 0 1rem;
}

.home-content {
  height: 80vh;
  display: flex;
  width: 100%;
}

.home-board {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.task-section {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.task-form {
  color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  padding: 2rem;
  width: 100%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-form h3 {
  background: #2a2b2f;
  margin: 1rem;
  width: 70%;
  padding: 0.5rem;
  border: 2px solid #1e1f23;
  border-radius: 1rem;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 2rem;
}

.clock {
  position: relative;
  width: 25rem;
  height: 25rem;
  background: url(clock.png);
  background-size: cover;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0px -15px 15px rgba(255, 255, 255, 0.05),
    0 15px 15px rgba(0, 0, 0, 0.2), inset 0 15px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin: 2rem;
}

.clock:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  z-index: 10000;
  left: 50%;
  top: 50%;
  transform: translatey(-50%) translateX(-50%);
}

.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translatey(-50%) translateX(-50%);
}

.clock .hour .hr {
  width: 160px;
  height: 160px;
}
.clock .min .mn {
  width: 190px;
  height: 190px;
}
.clock .sec .sc {
  width: 230px;
  height: 230px;
}

.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
}

.hr:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 80px;
  background: #ff105e;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}

.mn:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 11;
  border-radius: 6px 6px 0 0;
}

.sc:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 150px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 12;
  border-radius: 6px 6px 0 0;
}

.input {
  background: #2a2b2f;
  border: 2px solid #1e1f23;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0.5rem;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
}

.input input {
  height: 100%;
}

.task-form div textarea {
  height: 3rem;
}

.task-list-section {
  color: rgba(63, 50, 50, 0.5);
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  padding: 2rem;
  width: 100%;
  margin: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.task-list-section ul {
  width: 45%;
  height: 100%;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  padding: 2rem;
  list-style: none;
  overflow: auto;
}

.task {
  color: rgba(255, 255, 255, 0.5);
  background: #2a2b2f;
  border: 2px solid #1e1f23;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.del {
  display: flex;
  justify-content: center;
}

.task i {
  color: #ff105e;
  cursor: pointer;
}

.task h3,
.task p,
.task div {
  width: 20%;
  text-align: center;
}

.modal {
  width: 45%;
  height: 100%;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  padding: 2rem;
  color: rgba(255, 255, 255, 0.5);
}

.widgets {
  width: 45%;
  height: 100%;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  padding: 2rem;
}

/* footer */
footer {
  height: 10vh;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
